# Node modules
node_modules/
.env
dist/
coverage/
.vscode/

# Cypress: results and artifacts
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/results/
cypress/logs/

# Cypress binary + cache
.cache/
Cypress/

# Optional: test snapshots (if used)
cypress/e2e/**/__snapshots__/
cypress/e2e/**/__image_snapshots__/
